@import "compass/reset";
@import "compass/utilities";

/*
  Fonts
*/
$base-font: Helvetica;
$title-font: 'Merriweather';
$font-size-base: 16px;
$font-size-title: 45px;
$font-size-small: 12px;
/*
  Colors
*/
$main-color: rgb(255, 255, 255);
$header-color: rgb(154, 224, 210);
$background-color: rgba(116, 131, 143, 1);
$base-gray: lighten($background-color, 15%);
$lighter-gray: lighten($background-color, 30%);
$light-gray: lighten($background-color, 40%);
$darker-gray: darken($background-color, 10%);

/*
  Sizings and Positionings
*/
$body-width: 360px;
$row-height: 60px;
$row-height-short: 40px;
$base-border-width: 3px;
$list-height: $row-height * 4 + $base-border-width * 2;
$modal-width: 400px;


// common styling of basic elements
@mixin base-component {
  width: 100%;
  height: $row-height;
  padding: {
    top: 23px;
  }
}

// common styling of input elements
@mixin base-input {
  @include base-component;
  margin: {
    top: 10px;
    bottom: 10px;
  }
  padding: {
    top: 0;
    left: 10px;
    right: 10px;
  }
  border: {
    width: $base-border-width;
    style: solid;
    color: $main-color;
  }
  font: {
    weight: 200;
  }
}

// common styling of task buttons
@mixin task-btn {
  position: relative;
  float: right;
  right: 20px;
  width: $font-size-base * 2;
  padding: 6px;
  text-align: center;
  &:hover {
    color: orange;
  }
}
